.form label {
  display: inline-block;
  width: 100%;
  color: darkmagenta;
  font-weight: bold;
}

.form select, 
.form input:not(input[type="checkbox"]) {
  width: 100%;
  font: inherit;
  padding: 0.2rem 0.3rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.form button {
  display: block;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.form select { 
  width: auto;
}
